@page
@model RealKruGameWebsite.Pages.HousePointModel
@{
}
<h1>Email Page</h1>
<p>N/A</p>

<h4>Send Email</h4>
<div class="text-center">
    <form method="post">
        <table>
            <tr>
                <td>To</td>
                <td><input type="text" asp-for="sendmail.To" placeholder="Enter Email" size="50" /></td>
            </tr>
            <tr>
                <td>Subject</td>
                <td><input type="text" asp-for="sendmail.Subject" placeholder="Enter Title" size="50" /></td>
            </tr>
            <tr>
                <td>Body</td>
                <td><textarea type="text" asp-for="sendmail.Body" placeholder="Enter Description" rows="10" cols="60"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn-success" value="COMPLETE" /></td>
                <td>@ViewData["Message"]</td>
            </tr>
        </table>
    </form>
</div>