@page
@model RealGameWebsiteTest.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="background" src="~/lib/images/pexels-janko-ferlic-590493.jpg" />
</div>

<div>
    <h4>Single File Upload (JS)</h4>
    <input type="file" onchange="UploadFile(event)" />
</div>


<div>
    <h4>Multiple File Upload (JS)</h4>
    <input type="file" multiple onchange="UploadFiles(event)" />
</div>

<div>
    <h4>File in Model Upload (JS)</h4>
    <input type="file" id="single-file" onchange="UploadFile(event)" />
</div>

@section scripts {
    <script>
        var UploadFile = function (e) {
            var file = e.target.files[0];
            var formData = new FormData();
            formData.append("file", file);
            axios.post("/Home/SingleFile", formData);
        }
        var UploadFiles = function (e) {
            var files = e.target.files;
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }
            axios.post("/Home/MultipleFiles", formData);
        }
        var UploadFileToModel = function (e) {
            var fileName = document.getElementById("file-name").value
            var file = e.target.files[0];
            var formData = new FormData();
            formData.append("someForm.Name", fileName);
            formData.append("someForm.File", file);
            axios.post("/Home/FileInModel", formData);
        }
    </script>
}