@page
@model RealGameWebsiteTest.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, User!</h1>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <p><b>Here, you can find...</b></p>
                </center>
            </div>
        </div>
        <div class="text-center">
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img width="150" src="~/workimages/Books.png" />
                        <h4><a class="nav-link text-dark" asp-area="" asp-page="/Works/Work">Work</a></h4>
                        <p class="text-justify">All the works Kru Game assigned, including pictures and videos.</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img height="100" width="170" src="/workimages/ticket-png.png" />
                        <h4><a class="nav-link text-dark" asp-area="" asp-page="/HousePoint">House Point</a></h4>
                        <p class="text-justify">The amount of house points a student received from Kru Game, and how they received them.</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img height="100" width="100" src="/workimages/angry-symbol-png-2.png" />
                        <h4><a class="nav-link text-dark" asp-area="" asp-page="">Punishment</a></h4>
                        <p class="text-justify">The amount of punishments a student received from Kru Game, and how they received them.</p>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>