@page
@model RealGameWebsiteTest.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="background" src="~/lib/images/pexels-janko-ferlic-590493.jpg" />
</div>