@page
@model RealKruGameWebsite.Pages.Works.WorkModel
@{
    ViewData["Title"] = "Work page";
}

<style>
    .btn {
        width: 75px;
    }
</style>

<h1>Works</h1>

<div class="text-center">
    <a asp-page="/Works/WorkEdit"
       class="btn btn-primary m-1">Add Work</a>
    </div>

    <div class="card-deck">
        @foreach (var work in Model.Works)
        {
            

        }
    </div>


